.vr-logo-wrapper img {
  width: 200%;
  left: -50%;
  position: relative;
  transform: translateY(-36%);
}

.document {
  font-family: "flanders-sans", sans-serif;
  font-size: 11pt;
  padding-left: 20mm;
  padding-right: 25mm;
  padding-top: 15mm;
  padding-bottom: 12.5mm;
  max-width: 210mm;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 1px 4px 5px 10px rgba(0,0,0,0.25);
  background-color: rgba(247,247,247,1);
}

.document .dossiernummer {
  text-decoration: underline;
}

.document.nota {
  header {
    .original-logo {
      display: none;
    }
    .vr-logo-wrapper {
      width: 1.71in;
      height: 0.79in;
      margin-bottom: 2.5em;
    }
    .minister-titles * {
      text-transform: uppercase;
    }
    .minister-titles {
       list-style-type: none;
       padding: 0;
    }

    .concerns {
      display: inline-flex;
      font-weight: 500;
      font-size: 14pt;
      &:before {
        content: 'Betreft:';
      }
      .subjects {
        list-style-type: none;
        margin-top: -0.1em;
        margin-left: 1em;
        padding: 0;
        li:before {
         content:"-";
        }
        li > * {
         padding-left: 0.3em;
         font-weight: 500;
         text-decoration: none;
        }
      }
    } 
    .title {
      font-weight: 500;
      font-size: 14pt;
      text-transform: uppercase;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 1.5em;
    }
  }
  main {
    br + br {
      display: none;
    }
    p {
      margin: 0;
    }
    
    img {
      max-width: 100%;  
    }
    
    ul {
      list-style: none;
      padding: 0;
      margin-left: 0;
    }
    ul > li {
      margin-left: 1em;
    }
    ul > li:before {
      content: "-";
      position: absolute;
      margin-left: -1em;
    }
    
    section {
      margin-bottom: 2em;
      h2, h2 > * {
        text-transform: uppercase;
        text-decoration: none;
        margin-bottom: 1.2em;
        font-weight: 500;
        font-size: 14pt;
      }
      // p {
      //   margin-bottom: 1.2em;
      // }
      table {
        empty-cells: hide;
        border-collapse: collapse;
        margin: 0px;
      }
      td, th {
        border: 1px solid black;
      }
    }
  }
  footer {
    .minister-signatures {
      list-style-type: none;
      text-align: center;
      .minister-signature {
        margin-bottom: 3em;
        & > * {
          display: block;
          &:nth-last-child(2) {
            margin-bottom: 6em;
          }
        }
      }
    }
  }
}

.document.bvr {
  font-family: "Verdana", sans-serif;
  font-size: 10pt;
  padding-left: 32mm;
  padding-right: 32mm;
  padding-top: 22mm;
  padding-bottom: 22mm;
  header {
    .original-logo {
      display: none;
    }
    .vr-logo-wrapper {
      width: 1.71in;
      height: 0.79in;
      margin-bottom: 2.5em;
    }

    h1 {
      font-weight: bold;
      font-size: 12pt;
      margin-top: 1em;
      margin-bottom: 1.5em;
    }
  }
  main {
    .rechtsgrond-preamble, .besluit-preamble {
      text-transform: uppercase;
      display: block;
      text-align: center;
      margin: 2em 0;
    }
    p {
      margin: 1em;
    }
    img {
      max-width: 100%;  
    }
    section {
      margin-bottom: 2em;
      h1, h2, h3, h4, h5, h6
      {
        font-size: 1em;
        font-weight: normal;
        margin: 1em;
      }
      .clause {
        text-indent: 4em;
      }
      .paragraph > .clause:first-of-type {
        text-indent: 0;
      }
    }
  }
  footer {
    .minister-signatures {
      list-style-type: none;
      text-align: center;
      .minister-signature {
        margin-bottom: 3em;
        & > * {
          display: block;
          &:nth-last-child(2) {
            margin-bottom: 6em;
          }
        }
      }
    }
  }
}
